{{ header }}
{{ include(helper.template('_partial/breadcrumb')) }}
<div class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      {% set category_description = category.localizedDescription() %}
        <h1 class="title">{{ category_description.name }}</h1>
        {% if category_description.image or category_description.description %}
        <div class="description-section">
          {% if category_description.description %}
          {% if category_description.image %}
          <img src="{{ helper.image_resize(category_description.image) }}" alt="{{ category_description.name }}" title="{{ category_description.name }}" class="thumb img-responsive" />
          {% endif %}
          <p>{{ category_description.description }}</p>
          {% endif %}
        </div>
      {% endif %}
      {% if posts.count %}
        <div class="post-section">
          {% for post in posts %}
          {% set post_description = post.localizedDescription() %}
          <div class="row">
            {% if helper.config('blog_post_image_status') and post_description.image and helper.config('blog_post_image_position', 'left') == 'left' %}
            <div class="col-sm-3">
              <a href="{{ post.href('show') }}" title="{{ post_description.name }}">
                <img src="{{ helper.image_resize(post_description.image, helper.config('blog_post_image_width', 100), helper.config('blog_post_image_height', 100)) }}" alt="{{ post_description.name }}" title="{{ post_description.name }}" class="img-responsive" /></a>
            </div>
            {% endif %}
            <div class="col-sm-{{ (helper.config('blog_post_image_status') and post_description.image and helper.config('blog_post_image_position', 'left') == 'left') ? '9' : '12' }}">
              <h2><a href="{{ post.href('show') }}" title="{{ post_description.name }}">{{ post_description.name }}</a></h2>

              {% if helper.config('blog_post_image_status') and post_description.image and helper.config('blog_post_image_position', 'left') == 'top' %}

              <p class="info">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i> {{ post_description.date_added|date(date_format_short) }} {{ post_description.author ?: helper.config("blog_default_author.#{helper.current_language_id()}") }}&nbsp;
                {% if post.categories|length %}
                {% for post_category in post.categories %}
                <a href="{{ post_category.href('show') }}" title="{{ post_category.localizedDescription().name }}">{{ post_category.localizedDescription().name }}</a>&nbsp;
                {% endfor %}
                {% endif %}
              </p>

              <div class="thumb">
                <a href="{{ post.href('show') }}">
                  <img src="{{ helper.image_resize(post_description.image, helper.config('blog_post_image_width', 100), helper.config('blog_post_image_height', 100)) }}" alt="{{ post_description.name }}" title="{{ post_description.name }}" class="img-responsive" />
                </a>
              </div>
              {% endif %}

              {% set description = (post_description.html('description') ?: post_description.html('content')) %}
              {% set description = description|striptags %}
              <p>{{ description|length > helper.config('blog_post_description_length') ? description|slice(0, helper.config('blog_post_description_length')) ~ '...' : description  }}</p>

              <a class="blog-btn" href="{{ post.href('show') }}" title="{{ post_description.name }}">
                {{ helper.config("blog_post_read_more.#{helper.current_language_id()}", button_read_more) }}
              </a>
            </div>
          </div>
          <hr>
          {% endfor %}
        </div>
        {{ include(helper.template('_partial/pagination')) }}
      {% else %}
        {{ include(helper.template('_partial/no_result')) }}
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
