<div class="list-group account-list seller-account-side">
  <h2 class="title"><i class="fa fa-user"></i> {{ heading_title }}</h2>
  <ul class="list-unstyled">
    {% if not logged %}
    <li><a href="{{ login }}">{{ text_login }}</a></li>
    <li><a href="{{ register }}">{{ text_register }}</a></li>
    <li><a href="{{ forgotten }}">{{ text_forgotten }}</a></li>
    {% endif %}
    <li><a href="{{ dashboard }}">{{ text_dashboard }}</a></li>
    {% if logged %}
    <li><a href="{{ edit }}">{{ text_edit }}</a></li>
    <li><a href="{{ password }}">{{ text_password }}</a></li>
    {% endif %}
    <li><a href="{{ product }}">{{ text_product }}</a></li>
    <li><a href="{{ order }}">{{ text_order }}</a></li>
    <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
    <!--
    <li><a href="{{ withdraw }}">{{ text_withdraw }}</a></li>
    -->
    <li><a href="{{ shipping }}">{{ text_shipping }}</a></li>
    {% if logged %}
    <li><a href="{{ logout }}">{{ text_logout }}</a></li>
    {% endif %}
  </ul>
</div>
