{{ header }}
{{ include(helper.template('_partial/breadcrumb')) }}
<div class="container">
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h3>{{ heading_title }}</h3>
      <div class="row">
      {% if coupons %}
        {% for coupon in coupons %}
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="coupon-item-wrapper">
            <div class="coupon-item">
              <div class="coupon-border">
                <p class="coupon-discount">{{ coupon.discount }}</p>
                <p>{{ coupon.name }}</p>
                <span>{{ text_coupon_code }}: {{ coupon.code }}</span>
                <span>{{ coupon.date_start }} - {{ coupon.date_end }}</span>
                <span>{{ text_valid }}: {{ coupon.valid }}</span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        {{ include(helper.template('_partial/no_result')) }}
      {% endif %}
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
