{{ header }}
{{ include(helper.template('_partial/breadcrumb')) }}
<div class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>{{ heading_title }}</h2>
      <div class="order-button-group nav nav-tabs mb-2">
        <li {{ type is empty ? 'class="active"' }}><a href="{{ order }}">{{ text_order_all }}</a></li>
        <li {{ type == 'unpaid' ? 'class="active"' }}><a href="{{ order_unpaid }}">{{ text_order_unpaid }}</a></li>
        <li {{ type == 'unshipped' ? 'class="active"' }}><a href="{{ order_unshipped }}">{{ text_order_unshipped }}</a></li>
        <li {{ type == 'shipped' ? 'class="active"' }}><a href="{{ order_shipped }}">{{ text_order_shipped }}</a></li>
      </div>
      {% if orders %}
      <div class="table-responsive order-wrapper">
        {% for order in orders %}
        <table class="table table-bordered mb-2">
          <tbody>
            <tr class="heading">
              <td colspan="7">
                <div>
                  <span class="mr-1">{{ column_order_id }}: {{ order.order_id }}</span>
                  <span class="mr-1">{{ column_total }}: {{ order.total }}</span>
                  <span class="text-muted">{{ order.date_added }}</span>
                  <span class="pull-right">{{ column_status }}: {{ order.status }}</span>
                </div>
              </td>
            </tr>
            {% for index, product in order.product_list %}
            <tr>
              <td style="width: 50%;">
                <div class="product">
                  <a href="{{ product.href }}" class="image">
                    <img src="{{ product.image }}" class="img-responsive" alt="{{ product.name }}">
                  </a>
                  <div class="name">{{ product.name }}</div>
                  <span class="number">{{ product.total }} x {{ order.products }}</span>
                </div>
              </td>
              {% if index == 0 %}
              <td class="text-center" rowspan="{{ order.product_list|length }}">{{ order.name }}</td>
              <td class="text-center" rowspan="{{ order.product_list|length }}">{{ order.total }}</td>
              <td class="text-center" rowspan="{{ order.product_list|length }}">{{ order.status }}</td>
              <td class="text-center order-edit" rowspan="{{ order.product_list|length }}" style="width:95px;">
                <a href="{{ order.view }}" class="btn-link btn-block" title="{{ button_view }}">[{{ button_view }}]</a>
                {% if order.cancel %}
                <button data-href="{{ order.cancel }}" class="btn-link btn-block order-cancel" title="{{ button_cancel }}">[{{ button_cancel }}]</button>
                {% endif %}
                {% if order.confirm %}
                <button data-href="{{ order.confirm }}" class="btn-link btn-block order-confirm" title="{{ button_complate }}">[{{ button_complate }}]</button>
                {% endif %}
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endfor %}
      </div>
      {{ include(helper.template('_partial/pagination')) }}
      {% else %}
      {{ include(helper.template('_partial/no_result')) }}
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

<script type="text/javascript">
  $('.order-edit button').click(function(event) {
    var href = $(this).data('href');
    var title = $(this).hasClass('order-cancel') ? '{{ button_cancel }}' : '{{ button_complate }}';
    var message = $(this).hasClass('order-cancel') ? '{{ text_order_cancel }}' : '{{ text_order_confirm }}';

    layer.confirm(message, {
      title: title,
      btn: ['{{ text_yes }}', '{{ text_no }}']
    }, function() {
      location = href;
    });
  });
</script>
{{ footer }}
