{% set global_style = "font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #444; line-height: 2em;" %}
{% set table_style = "width: 100%; padding: 25px; border-spacing: 0; font-size: 14px;" %}
{% set main_color = "#fd7533" %}
{% set border_color = "#eee" %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ store }}</title>
</head>
<body style="{{ global_style }}">
  <div style="width: 600px; margin: 40px auto; color: #000; border-radius: 4px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);">
    <div style="border-bottom: 1px solid {{ border_color }};">
      {% if logo is empty %}
        <a href="{{ store_url }}" style="display: block; padding: 30px 0; padding-left: 25px; text-decoration: none; color: {{ main_color }}; font-size: 20px;">{{ store }}</a>
      {% else %}
        <a href="{{ store_url }}" style="display:block; padding: 15px 0; text-align: center;"><img src="{{ logo }}" alt="{{ store }}" title="{{ store }}" style="max-width: 180px !important;" /></a>
      {% endif %}
    </div>

    <table style="{{ table_style }} padding: 25px 75px 15px;">
      <thead>
        <tr>
          <td colspan="2"><h1 style="margin-top: 0; font-size: 16px; font-weight: normal;">{{ text_welcome }}</h1></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="line-height: 1.8;">
            {% if not approval %}
            <p>{{ text_login }}</p>
            <p>{{ text_service }}</p>
            <p style="margin-top: 30px; margin-bottom: 30px;">
              <a href="{{ login }}" style="display: inline-block; padding: 8px 30px; min-width: 80px; text-align: center; cursor: pointer; color: #fff; font-weight: bold; font-size: 16px; border-radius: 5px; letter-spacing: 1px; text-decoration: none; background-color: {{ main_color }};">
                {{ button_login }}
              </a>
            </p>
            {% else %}
            <p>{{ text_approval }}</p>
            <p style="margin-top: 30px; margin-bottom: 30px;">
              <a href="{{ login }}" style="display: inline-block; padding: 8px 30px; min-width: 80px; text-align: center; cursor: pointer; color: #fff; font-weight: bold; font-size: 16px; border-radius: 5px; letter-spacing: 1px; text-decoration: none; background-color: {{ main_color }};">
                {{ button_login }}
              </a>
            </p>
            {% endif %}
            <p style="color: #999; border-top: 1px solid {{ border_color }}; padding-top: 13px;">{{ text_thanks }} {{ store }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>