{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-entry-partner">{{ entry_partner }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_unionpay_partner" value="{{ payment_unionpay_partner }}" placeholder="{{ entry_partner }}" id="input-entry-partner" class="form-control" />
                {% if error_partner %}
                <div class="text-danger">{{ error_partner }}</div>
                {% endif %}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-entry-cert-pwd">{{ entry_cert_pwd }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_unionpay_cert_pwd" value="{{ payment_unionpay_cert_pwd }}" placeholder="{{ payment_unionpay_cert_pwd }}" id="input-entry-cert-pwd" class="form-control" />
                {% if error_cert_pwd %}
                <div class="text-danger">{{ error_cert_pwd }}</div>
                {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-entry-pfx-name">{{ entry_pfx_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_unionpay_pfx_name" value="{{ payment_unionpay_pfx_name }}" placeholder="{{ entry_pfx_name }}" id="input-entry-pfx-name" class="form-control" />
                {% if error_pfx_name %}
                <div class="text-danger">{{ error_pfx_name }}</div>
                {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_unionpay_total" value="{{ payment_unionpay_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-currency-code">{{ entry_currency_code }}</label>
            <div class="col-sm-10">
              <select name="payment_unionpay_currency_code" id="input-currency-code" class="form-control">
                {% for currency in currencies %}
                {% if currency.code == payment_unionpay_currency_code %}
                <option value="{{ currency.code }}" selected="selected">{{ currency.title }}</option>
                {% else %}
                <option value="{{ currency.code }}">{{ currency.title }}</option>
                {% endif %}
                {% endfor %}
              </select>
                {% if error_currency_code %}
                <div class="text-danger">{{ error_currency_code }}</div>
                {% endif %}
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-trade-finished">{{ entry_trade_finished }}</label>
            <div class="col-sm-10">
              <select name="payment_unionpay_trade_finished" id="input-trade-finished" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_unionpay_trade_finished %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
         
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_unionpay_status" id="input-status" class="form-control">
                {% if payment_unionpay_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_unionpay_sort_order" value="{{ payment_unionpay_sort_order }}" placeholder="{{ payment_unionpay_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}