{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-coupon" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-coupon" class="form-horizontal">
          
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                <div class="col-sm-10">
                  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
                  {% if error_name %}
                    <div class="text-danger">{{ error_name }}</div>
                  {% endif %} </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-code"><span data-toggle="tooltip" title="{{ help_explain }}">{{ entry_explain }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="explain" value="{{ explain }}" placeholder="{{ entry_explain }}" id="input-code" class="form-control"/>
                  {% if error_explain %}
                    <div class="text-danger">{{ error_explain }}</div>
                  {% endif %}
                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-type"><span data-toggle="tooltip" title="{{ help_type }}">{{ entry_type }}</span></label>
                <div class="col-sm-10">
                  <select name="type" id="input-type" class="form-control">
                    
                    {% for types in coupon_type %}
                      {% if loop.index == type %}
                        <option value="{{ loop.index }}" selected="selected">{{ types }}</option>
                      {% else %}
                        <option value="{{ loop.index }}" >{{ types }}</option>
                      {% endif %}
                    {% endfor %}

                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_order_total }}">{{ entry_order_total }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="order_total" value="{{ order_total }}" placeholder="{{ entry_order_total }}" id="input-total" class="form-control"/>
                  {% if error_order_total %}
                    <div class="text-danger">{{ error_order_total }}</div>
                  {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-discount"><span data-toggle="tooltip" title="{{ help_discount }}">{{ entry_discount }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="discount" value="{{ discount }}" placeholder="{{ entry_discount }}" id="input-discount" class="form-control"/>
                  {% if error_discount %}
                    <div class="text-danger">{{ error_discount }}</div>
                  {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-date-start">{{ entry_date_start }}</label>
                <div class="col-sm-3">
                  <div class="input-group date">
                    <input type="text" name="date_start" value="{{ date_start }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control"/>
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    </div>
                  </div>

                  {% if error_date_start %}
                    <div class="text-danger">{{ error_date_start }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-date-end">{{ entry_date_end }}</label>
                <div class="col-sm-3">
                  <div class="input-group date">
                    <input type="text" name="date_end" value="{{ date_end }}" placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control"/> <div class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    </div>
                  </div>

                  {% if error_date_end %}
                    <div class="text-danger">{{ error_date_end }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-uses-total"><span data-toggle="tooltip" title="{{ help_coupon_total }}">{{ entry_coupon_total }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="coupon_total" value="{{ coupon_total }}" placeholder="{{ entry_coupon_total }}" id="input-uses-total" class="form-control"/>
                  {% if error_coupon_total %}
                    <div class="text-danger">{{ error_coupon_total }}</div>
                  {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-uses-total"><span data-toggle="tooltip" title="{{ help_get_limit }}">{{ entry_get_limit }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="get_limit" value="{{ get_limit }}" placeholder="{{ entry_get_limit }}" id="input-uses-total" class="form-control"/>

                  {% if error_get_limit %}
                    <div class="text-danger">{{ error_get_limit }}</div>
                  {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-uses-customer"><span data-toggle="tooltip" title="{{ help_uses_limit }}">{{ entry_uses_limit }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="uses_limit" value="{{ uses_limit }}" placeholder="{{ entry_uses_limit }}" id="input-uses-customer" class="form-control"/>

                  {% if error_uses_limit %}
                    <div class="text-danger">{{ error_uses_limit }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">

                    {% for cstatus in coupon_status %}
                      {% if (loop.index - 1) == status %}
                        <option value="{{ loop.index - 1 }}" selected="selected">{{ cstatus }}</option>
                      {% else %}
                        <option value="{{ loop.index - 1 }}" >{{ cstatus }}</option>
                      {% endif %}
                    {% endfor %}

                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-uses-total"><span data-toggle="tooltip" title="{{ help_launch_scene }}">{{ entry_launch_scene }}</span></label>
                <div class="col-sm-10">
                  <select name="launch_scene" id="input-status" class="form-control">

                    {% for claunch_scen in coupon_launch_scene %}
                      {% if loop.index == launch_scene %}
                        <option value="{{ loop.index }}" selected="selected">{{ claunch_scen }}</option>
                      {% else %}
                        <option value="{{ loop.index }}" >{{ claunch_scen }}</option>
                      {% endif %}
                    {% endfor %}

                  </select>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('input[name=\'product\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'product\']').val('');

		$('#coupon-product' + item['value']).remove();

		$('#coupon-product').append('<div id="coupon-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="coupon_product[]" value="' + item['value'] + '" /></div>');
	}
});

$('#coupon-product').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});

// Category
$('input[name=\'category\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'category\']').val('');

		$('#coupon-category' + item['value']).remove();

		$('#coupon-category').append('<div id="coupon-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="coupon_category[]" value="' + item['value'] + '" /></div>');
	}
});

$('#coupon-category').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script>
{% if coupon_id %}
  <script type="text/javascript"><!--
  $('#history').delegate('.pagination a', 'click', function(e) {
	  e.preventDefault();

	  $('#history').load(this.href);
  });

  $('#history').load('index.php?route=marketing/coupon/history&user_token={{ user_token }}&coupon_id={{ coupon_id }}');
  //--></script>
{% endif %}
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});
//--></script>
<script type="text/javascript">
  $( document ).ready(function() {
    $('#code-generate').click(function() {
      $.ajax({
            url: 'index.php?route=marketing/customercoupon/generateCoupon&user_token={{ user_token }}&coupon_id={{ coupon_id }}',
            dataType: 'json',
            type : 'get',
            success: function(data){
            $("#code").find(".loading").remove();
              if(data) {
                $("input[name='code']").val(data.coupon_code);
              }

            }
        })
    });
  });
</script>
<script type="text/javascript"><!--
  $('input[name=\'customer\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_customer=' + encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['name'],
              value: item['customer_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'customer\']').val('');
      $('#coupon-customer' + item['value']).remove();
      $('#coupon-customer').append('<div id="coupon-customer' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="coupon_customer[]" value="' + item['value'] + '" /></div>');
    }
  });

  $('#coupon-customer').delegate('.fa-minus-circle', 'click', function() {
    $(this).parent().remove();
  });

  $('input[name=\'customer_group\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=customer/customer_group/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['name'],
              value: item['customer_group_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'customer_group\']').val('');
      $('#coupon-customer_group' + item['value']).remove();
      $('#coupon-customer_group').append('<div id="coupon-customer_group' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="coupon_customer_group[]" value="' + item['value'] + '" /></div>');
    }
  });

  $('#coupon-customer_group').delegate('.fa-minus-circle', 'click', function() {
    $(this).parent().remove();
  })
//--></script>
{{ footer }}