{{ header }}
<div class="container">
  <div class="row">
    <div id="content" class="col-xs-12">{{ content_top }}
      <div class="nav-bar cart-top-iconnav-bar">
        <span class="back-icon btn btn-left" onclick="window.history.back(-1)";><i class="iconfont">&#xe622;</i></span>
        {{ heading_title }}
        <span class="edit btn btn-right"><i class="iconfont">&#xe644;</i></span>
      </div>
      {% if attention %}
      <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %}
      {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %}
      {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %}
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <div id="product-table">
          {{ include(helper.template('checkout/cart/_product_list')) }}
        </div>
      </form>
      <div class="row">
        {% if modules %}
        <div class="panel-group" id="accordion">
            {{ include(helper.template('checkout/cart/_module')) }}
        </div>
        {% endif %}
        <div class="price-list">
          <div class="col-xs-12">
            <table id="cart-totals" class="table mb-0">
              {{ include(helper.template('checkout/cart/_total')) }}
            </table>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

<script type="text/javascript"><!--
  var initQuantity;

  $(document).on('click', '.cart-quantity-wrapper input', function(event) {
    initQuantity = $(this).val();
  });

  $(document).on('blur', '.cart-quantity-wrapper input', function(event) {
    if ( initQuantity == $(this).val() ) return;
    cart_update();
  });

  $(document).on('click', '.cart-quantity-wrapper span', function(event) {
    event.preventDefault();
    var _qtyInput = $(this).siblings('.cart-input-quantity');

    if( $(this).hasClass('quantity-up')) {
      _qtyInput.val(_qtyInput.val() * 1 + 1);
    } else {
      if ( _qtyInput.val() == 1 ) return;
      _qtyInput.val(_qtyInput.val() - 1);
    }

    cart_update();
  });

  $(document).on('click', '#checkbox-all', function(event) {
    event.preventDefault();
    $('input[name*=\'selected\']').prop('checked', this.checked);
    cart_select();
  });

  var cart_update = function() {
    $.ajax({
      url: 'index.php?route=checkout/cart/update',
      type: 'post',
      dataType: 'json',
      data: $('#product-table input[name^=\'quantity\']'),
      beforeSend: function() {
        ajax_before();
      },
      success: function (json) {
        ajax_success(json);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        ajax_error();
      }
    });
  }

  function cart_remove(cart_id) {
    $.ajax({
      url: 'index.php?route=checkout/cart/remove',
      type: 'post',
      dataType: 'json',
      data: {key: cart_id},
      beforeSend: function() {
        ajax_before();
      },
      success: function (json) {
        ajax_success(json);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        ajax_error();
      }
    });
  }

  function cart_select() {
    $.ajax({
      url: 'index.php?route=checkout/cart/select',
      type: 'post',
      dataType: 'json',
      data: $('input[name^=\'selected\']:checked:enabled'),
      beforeSend: function() {
        ajax_before();
      },
      success: function(json) {
        ajax_success(json);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        ajax_error();
      }
    });
  }

  function ajax_before() {
    toggle_check_all_state();
    $('.alert-danger').remove();
    layer.load(2, {shade: [0.1,'#fff']});
  }

  function ajax_error() {
    layer.closeAll();
    layer.msg('{{ error_network }}');
  }

  function ajax_success(json) {
    if (json['redirect']) {
      location = json['redirect'];
      return;
    }

    layer.closeAll();

    if (json['error']) {
      $('.nav-bar').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i>' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }

    if (json['message']) {
      layer.msg(json['message']);
    }

    $('.total-price .number').html(json['total']);
    $('#product-table').html(json['product_list_html']);
    $('#accordion').html(json['module_html']);
    $('#cart-totals').html(json['total_html']);
    $('#cart > ul').load('index.php?route=common/cart/info ul li');
    toggle_check_all_state();
  }

  $(document).ready(function () {
    {% set total = totals|last %}
    $('.total-price .number').html('{{ total.text }}');
  });
  //--></script>
  <script type="text/javascript"><!--
  $(document).ready(function () {
    toggle_check_all_state();
  });

  function toggle_check_all_state() {
    var all_products_checked = true;
    $('input[name*=\'selected\']').each(function() {
      if ($(this).prop('checked') == false) {
        all_products_checked = false;
      }
    })

    $('#checkbox-all').prop('checked', all_products_checked);
  }
//--></script>
{{ footer }}
