{{ header }}
<div id="product-manufacturer" class="container">
  <div class="row">
    <div id="content" class="col-xs-12">{{ content_top }}
      <div class="nav-bar">{{ heading_title }}</div>
      {% if products %}
      {{ include(helper.template('_partial/product/filter_bar_block')) }}
      <div class="row product-list-item-style product-grid-box">
        {% for product in products %}
        <div class="col-xs-6 product-item">
          {{ include(helper.template('_partial/product/product_single')) }}
        </div>
        {% endfor %}
      </div>
        {{ include(helper.template('_partial/pagination')) }}
      {% else %}
      <p>{{ text_no_results }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    </div>
</div>
{{ footer }}
