{{ header }}
<div id="product-search" class="container">
  <div class="row">
    <div id="content" class="col-sm-12">
      <div class="nav-bar">{{ entry_search }}</div>
      <div class="row widget">
        <div class="col-xs-12">
          <div id="search" class="input-group">
            <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control" />
            <input type="hidden" name="category_id" value="0"/>
            <input type="hidden" name="sub_category" value="1"/>
            <input type="hidden" name="description" value="1"/>
            <span class="input-group-btn">
              <input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary" />
            </span>
          </div>
        </div>
      </div>
      {% if helper.request().get.search is empty %}
      {{ content_top }}
      {% endif %}

      {% if products %}
      {{ include(helper.template('_partial/product/filter_bar_block')) }}
      <div class="row product-list-item-style product-grid-box">
        {% for product in products %}
        <div class="col-xs-6 product-item">
          {{ include(helper.template('_partial/product/product_single')) }}
        </div>
        {% endfor %}
      </div>
      {{ include(helper.template('_partial/pagination')) }}
      {% endif %}

      {% if helper.request().get.search is not null and products|length < 1 %}
      <div class="no-items">
        <span class="icon"><i class="iconfont">&#xe69a;</i></span>
        <span class="msg">{{ text_no_results }}</span>
      </div>
      {% endif %}
      {{ content_bottom }}
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#button-search').bind('click', function() {
  url = 'index.php?route=product/search';

  var search = $('#content input[name=\'search\']').prop('value');

  if (search) {
    url += '&search=' + encodeURIComponent(search);
  }

  var category_id = $('#content select[name=\'category_id\']').prop('value');

  if (category_id > 0) {
    url += '&category_id=' + encodeURIComponent(category_id);
  }

  var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

  if (sub_category) {
    url += '&sub_category=true';
  }

  var filter_description = $('#content input[name=\'description\']:checked').prop('value');

  if (filter_description) {
    url += '&description=true';
  }

  location = url;
});

$('#content input[name=\'search\']').bind('keydown', function(e) {
  if (e.keyCode == 13) {
    $('#button-search').trigger('click');
  }
});

$('select[name=\'category_id\']').on('change', function() {
  if (this.value == '0') {
    $('input[name=\'sub_category\']').prop('disabled', true);
  } else {
    $('input[name=\'sub_category\']').prop('disabled', false);
  }
});

$('select[name=\'category_id\']').trigger('change');
--></script>
{{ footer }}
