{{ header }}
{{ include(helper.template('_partial/breadcrumb')) }}
<div class="container">
  <div class="wrap">
    <div class="inner-wrap">
      <div class="row">{{ column_left }}
        {% if column_left and column_right %}
          {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
          {% set class = 'col-sm-9' %}
        {% else %}
          {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
          <h1 class="faq">{{ heading_title }}</h1>
          {%  for faq in faqs %}
          <h3 class="faq_title">{{ faq.name }}</h3>
          <div class="panel-group accordion">
            {% for key, item in faq.question_list %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapse{{ key }}-{{ item.faq_id }}">
                      <span class="glyphicon glyphicon-plus"></span>
                     {{ item.question }}
                    </a>
                  </h4>
                </div>

                <div id="collapse{{ key }}-{{ item.faq_id }}" class="panel-collapse collapse">
                  <div class="panel-body">
                   {{ item.answer }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {% endfor %}
          {{ content_bottom }}</div>
       {{ column_right }}</div>
    </div>
  </div>
</div>
<script>
$('.collapse').on('shown.bs.collapse', function(){
    $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
}).on('hidden.bs.collapse', function(){
    $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
});
</script>
{{ footer }}
