{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
      </div>
      <h1>{{ text_blog_category }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_blog_category_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-blog-category">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 60px;" class="text-right">
                    <a href="{{ sort_category_id }}" class="{{ sort == 'category_id' ? order|lower }}">{{ column_id }}</a>
                  </td>
                  <td class="text-left">
                    <a href="{{ sort_name }}" class="{{ sort == 'name' ? order|lower }}">{{ column_name }}</a>
                  </td>
                  <td style="width: 100px;" class="text-right">
                    <a href="{{ sort_sort_order }}" class="{{ sort == 'sort_order' ? order|lower }}">{{ column_sort_order }}</a>
                  </td>
                  <td style="width: 200px;" class="text-right">
                    <a href="{{ sort_date_added }}" class="{{ sort == 'date_added' ? order|lower }}">{{ column_date_added }}
                  </td>
                  <td style="width: 200px;" class="text-right">
                    <a href="{{ sort_date_modified }}" class="{{ sort == 'date_modified' ? order|lower }}">{{ column_date_modified }}
                  </td>
                  <td style="width: 100px;" class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if categories|length %}
                {% for category in categories %}
                <tr>
                  <td class="text-right">{{ category.category_id }}</td>
                  <td class="text-left">{{ category.localizedDescription().name }}</td>
                  <td class="text-right">{{ category.sort_order }}</td>
                  <td class="text-right">{{ category.date_added }}</td>
                  <td class="text-right">{{ category.date_modified }}</td>
                  <td class="text-right">
                    <a href="{{ category.href('edit') }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                    <a href="{{ category.href('delete') }}" data-toggle="tooltip" title="{{ button_remove }}" onclick="return confirm('{{ text_confirm }}');" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="6">{{ text_no_results }}</td>
                </tr>
                {% endif %}
                <?php } ?>
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
