{{ header}}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-blog-setting" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error.warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error.warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if text_success %}
    <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ text_success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-blog-setting" class="form-horizontal">
          <fieldset>
            <legend>{{ text_general }}</legend>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
              <div class="col-sm-10">
                <select name="blog_status" id="input-status" class="form-control">
                  {% if helper.old('blog_status', setting.blog_status ?? 1) %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-blog-menu-name"><span data-toggle="tooltip" title="{{ help_menu_name }}">{{ entry_menu_name }}</span></label>
              <div class="col-sm-10">
                {% for language in languages %}
                <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                  <input type="text" name="blog_menu_name[{{ language.language_id }}]" value="{{ helper.old("blog_menu_name#{language.language_id}", setting.blog_menu_name[language.language_id]) }}" placeholder="{{ entry_menu_name }}" class="form-control" />
                </div>
                {% if error.menu_name[language.language_id] %}
                <div class="text-danger">{{ error.menu_name[language.language_id] }}</div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-default-author"><span data-toggle="tooltip" title="{{ help_default_author }}">{{ entry_default_author }}</span></label>
              <div class="col-sm-10">
                {% for language in languages %}
                <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                  <input type="text" name="blog_default_author[{{ language.language_id }}]" value="{{ helper.old("blog_default_author#{language.language_id}", setting.blog_default_author[language.language_id]) }}" placeholder="{{ entry_default_author }}" class="form-control" />
                </div>
                {% if error.default_author[language.language_id] %}
                <div class="text-danger">{{ error.default_author[language.language_id] }}</div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-read-more">{{ entry_post_read_more }}</label>
              <div class="col-sm-10">
                {% for language in languages %}
                <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                  <input type="text" name="blog_post_read_more[{{ language.language_id }}]" value="{{ helper.old("blog_post_read_more#{language.language_id}", setting.blog_post_read_more[language.language_id]) }}" placeholder="{{ entry_post_read_more }}" class="form-control" />
                </div>
                {% if error.read_more[language.language_id] %}
                <div class="text-danger">{{ error.read_more[language.language_id] }}</div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>{{ text_category_listing }}</legend>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-post-limit"><span data-toggle="tooltip" title="{{ help_post_limit }}">{{ entry_post_limit }}</span></label>
              <div class="col-sm-10">
                <input type="text" name="blog_post_limit" value="{{ helper.old('blog_post_limit', setting.blog_post_limit ?? 15) }}" placeholder="{{ entry_post_limit }}" id="input-post-limit" class="form-control" />
                {% if error.post_limit %}
                <div class="text-danger">{{ error.post_limit }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-image-category-width">{{ entry_image_category }}</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="blog_category_image_width" value="{{ helper.old('blog_category_image_width', setting.blog_category_image_width ?? 100) }}" placeholder="{{ entry_width }}" id="input-image-category-width" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="blog_category_image_height" value="{{ helper.old('blog_category_image_height', setting.blog_category_image_height ?? 100) }}" placeholder="{{ entry_height }}" class="form-control" />
                  </div>
                </div>
                {% if error.image_category %}
                <div class="text-danger">{{ error.image_category }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-post-image-status">{{ entry_post_image_status }}</label>
              <div class="col-sm-10">
                <select name="blog_post_image_status" id="input-post-image-status" class="form-control">
                  {% if helper.old('blog_post_image_status', setting.blog_post_image_status ?? 1) %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="form-group hidden">
              <label class="col-sm-2 control-label" for="input-post-image-position">{{ entry_post_image_position }}</label>
              <div class="col-sm-10">
                <select name="blog_post_image_position" id="input-post-image-position" class="form-control">
                  {% if helper.old('blog_post_image_position', setting.blog_post_image_position ?? 'top') == 'top' %}
                  <option value="top" selected="selected">{{ text_top }}</option>
                  <option value="left">{{ text_left }}</option>
                  {% else %}
                  <option value="top">{{ text_top }}</option>
                  <option value="left" selected="selected">{{ text_left }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-image-category-width">{{ entry_image_post }}</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="blog_post_image_width" value="{{ helper.old('blog_post_image_width', setting.blog_post_image_width ?? 840) }}" placeholder="{{ entry_width }}" id="input-image-post-width" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="blog_post_image_height" value="{{ helper.old('blog_post_image_height', setting.blog_post_image_height ?? 180) }}" placeholder="{{ entry_height }}" class="form-control" />
                  </div>
                </div>
                {% if error.image_post %}
                <div class="text-danger">{{ error.image_post }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-post-description-length"><span data-toggle="tooltip" title="{{ help_post_description_length }}">{{ entry_post_description_length }}</span></label>
              <div class="col-sm-10">
                <input type="text" name="blog_post_description_length" value="{{ helper.old('blog_post_description_length', setting.blog_post_description_length ?? 200) }}" placeholder="{{ entry_post_description_length }}" id="input-post-description-length" class="form-control" />
                {% if error.post_description_length %}
                <div class="text-danger">{{ error.post_description_length }}</div>
                {% endif %}
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>{{ text_blog_home }}</legend>
            <ul class="nav nav-tabs" id="language">
              {% for language in languages %}
              <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
              {% endfor %}
            </ul>
            <div class="tab-content">
              {% for language in languages %}
              <div class="tab-pane" id="language{{ language.language_id }}">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="blog_meta_title[{{ language.language_id }}]" value="{{ helper.old("blog_meta_title#{language.language_id}", setting.blog_meta_title[language.language_id]) }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                  <div class="col-sm-10">
                    <textarea name="blog_meta_description[{{ language.language_id }}]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ helper.old("blog_meta_description#{language.language_id}", setting.blog_meta_description[language.language_id]) }}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                  <div class="col-sm-10">
                    <textarea name="blog_meta_keyword[{{ language.language_id }}]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ helper.old("blog_meta_keyword#{language.language_id}", setting.blog_meta_keyword[language.language_id]) }}</textarea>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script>
{{ footer }}
